extends layout

block content
  h1= title
  form(method="POST", action="/converted")
    p
      input(type="text", placeholder="Enter URL", name="url")
      input(type="submit", value="Rock and Roll")
